<div>
    <h2>Person Details</h2>
    <div>
      <label *ngIf="person.id== undefined || person.id == null">ID: </label>
      <span>{{person.id}}</span>
    </div>
    <div>
      <label>First Name:</label>
      <span> {{person.firstName}}</span>
    </div>
    <div>
      <label>Last Name:</label>
      <span> {{person.lastName}}</span>
    </div>
    <div *ngIf="person.maidenName !== undefined && person.maidenName !== '' && person.maidenName !== null ">
      <label>Maiden Name:</label>
      <span> {{person.maidenName}}</span>
    </div>
    <div *ngIf="person.isAlive !== undefined && person.isAlive !== null ">
      <label>Is Alive:</label>
      <span> {{person.isAlive}}</span>
    </div>
    <div *ngIf="person.dateOfDeath == undefined || person.dateOfDeath == null">
      <div>
      <label>Date of Birth:</label>
      <span> {{person.dateOfBirth | date:'dd-MM-yyyy'}}</span>
      </div>
      <div>
        <label>Age:</label>
        <span> {{person.age}}</span>
      </div>

    </div>
    <div *ngIf="person.dateOfDeath">
      <span> {{person.dateOfBirth | date:'dd-MM-yyyy'}} - {{person.dateOfDeath | date:'dd-MM-YYYY'}} </span>
      ({{ calculateAge(person.dateOfBirth, person.dateOfDeath) }} years old)
      <div>
        <label>Azi ar fi avut {{person.age}} de ani </label>
      </div>
    </div>

    
    <div>
      <label>Zodie:</label>
      <span> {{person.zodiac}}</span>
    </div>
    <div>
      <label *ngIf="person.phone== undefined || person.phone == null">Phone: </label>
      <ul>
        <li *ngFor="let phone of person.phone">{{phone}}</li>
      </ul>
    </div>
    <div *ngIf="person.email">
      <label>Email:</label>
      <span> {{person.email}}</span>
    </div>
    <div>
      <label>Gender:</label>
      <span> {{person.gender}}</span>
    </div>
    <div *ngIf="person.address && person.address.length!==0">
      <label>Address:</label>
      <ul>
        <li *ngFor="let address of person.address">
          {{address.street}}, {{address.postCode}} {{address.city}}, {{address.country}}
        </li>
      </ul>
    </div>
    <div *ngIf="person.carsList && person.carsList.length!==0">
      <label>Cars List:</label>
      <ul>
        <li *ngFor="let car of person.carsList">
          {{car.model}}, {{car.plateNumber}}
        </li>
      </ul>
    </div>
    <div *ngIf="person.relatives && person.relatives.length!==0">
      <label>Relatives:</label>
      <ul>
        <li *ngFor="let relative of person.relatives">
          {{relative.relativeType}} <a  [href]="'/personInfo/' + relative.relativePersonId" target="_blank">  {{getFullNameById(relative.relativePersonId)}}</a>
        </li>
      </ul>
    </div>
    <div *ngIf="person.comments">
      <label>Comments:</label>
      <span> {{person.comments}}</span>
    </div>
    <div *ngIf="person.eventsID">
    <table class="table table-bordered table-striped">
      <thead>
        <label>Evenimente: </label>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Event age</th>
          <th>  </th>
      </thead>
      <tbody>
    
      
      <tr *ngFor="let eveimnet of eveniments">
        
         <td>{{eveimnet.eventName}}</td>
         
         <td>{{eveimnet.eventDate}}</td>
         <td>{{eveimnet.age}}</td>
         <td>{{eveimnet.description}}</td>

         <td >
          <a  class="btn btn-outline-warning" [href]="'/eventInfo/' + eveimnet.id">Info</a>
        </td> 
      </tr>

    
  </tbody>
  </table>
</div>
    <td >
      <a  class="btn btn-outline-warning" [href]="'/personUpdateForm/' + person.id" >Update</a>
    </td> 
  </div>
  