<div>
    <h2>Person Details</h2>
    <div>
      <label>ID:</label>
      <span>{{person.id}}</span>
    </div>
    <div>
      <label>First Name:</label>
      <span>{{person.firstName}}</span>
    </div>
    <div>
      <label>Last Name:</label>
      <span>{{person.lastName}}</span>
    </div>
    <div>
      <label>Date of Birth:</label>
      <span>{{person.dateOfBirth | date}}</span>
    </div>
    <div>
      <label>Phone:</label>
      <ul>
        <li *ngFor="let phone of person.phone">{{phone}}</li>
      </ul>
    </div>
    <div>
      <label>Email:</label>
      <span>{{person.email}}</span>
    </div>
    <div>
      <label>Gender:</label>
      <span>{{person.gender}}</span>
    </div>
    <div>
      <label>Address:</label>
      <ul>
        <li *ngFor="let address of person.address">
          {{address.street}}, {{address.postCode}} {{address.city}}, {{address.country}}
        </li>
      </ul>
    </div>
    <div>
      <label>Cars List:</label>
      <ul>
        <li *ngFor="let car of person.carsList">
          {{car.model}}, {{car.plateNumber}}
        </li>
      </ul>
    </div>
    <div>
      <label>Age:</label>
      <span>{{person.age}}</span>
    </div>
    <div>
      <label>Comments:</label>
      <span>{{person.comments}}</span>
    </div>
    <td >
      <a  class="btn btn-outline-warning" [href]="'/personUpdateForm/' + person.id">Update</a>
    </td> 
  </div>
  