<table class="table table-bordered table-striped">
<div class="buttons">
    <td >
        <a  class="btn btn-outline-warning" routerLink="/placeForm">Add Place</a>
    </td> 
      <td >
          <a  class="btn btn-outline-warning" routerLink="/locationForm">Add Location</a>
      </td> 
</div>
    <thead>
      <tr>
        <th>Place</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let location of locations" >
            <td>Location</td>
            <td>{{location.name}}</td>
          
            <td >
              <a  class="btn btn-outline-warning" [routerLink]="['/locationupdateForm', location.id]">Update</a>
            </td> 
            <td >
              <button  class="btn btn-outline-danger" (click)="deleteLocation(location.id)">Delete</button>
            </td> 
             
        </tr>
        <tr *ngFor="let place of places" >
            <td>{{place.placeName}}</td>
            <td>{{place.location.name}}</td>
            
            <td >
              <a  class="btn btn-outline-warning" [routerLink]="['/placeUpdateForm', place.id]">Update</a>
            </td> 
            <td >
              <button  class="btn btn-outline-danger" (click)="deletePlace(place.id)">Delete</button>
            </td> 
             
        </tr>
    </tbody>
    <router-outlet></router-outlet>
</table>
