<nav class="nav">
<a  class="btn btn-outline-primary mb-2" (click)="getPersons()" >List All Persons</a>
<a   [href]="'/personForm/'" class="btn btn-outline-warning mb-2" >Add Person</a>
   
    <label for="sortMonth">Select a Month:</label>
    <select id="sortMonth" [(ngModel)]="monthValue" (change)="getPersByMonthOfBirth(monthValue)">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      
    </select>
   <!--<button  class="btn btn-secondary mb-2" (click)="getPersByMonthOfBirth()" >By birthday month</button> -->
  
   <input type="text" [formControl]="searchText" placeholder="Search person" class="input mb-2"  />
  
  
  <button  class="btn btn-outline-danger mb-2" (click)="clear()" >Clear</button>

</nav>
<span [textContent]="getUpdatedListTime()">  </span>
<div *ngFor="let person of filtredPersons">
  <!-- Display company details here -->
  <td>{{person.firstName}}</td>
  <td >
    <div *ngIf="person.maidenName !== undefined && person.maidenName !== '' && person.maidenName !== null">{{ person.lastName}}({{person.maidenName}})</div>
    <div *ngIf="person.maidenName === undefined || person.maidenName === '' || person.maidenName === null">{{ person.lastName }}</div>
  </td> 
  <td>{{person.dateOfBirth}}</td>
  <td >
    <a  class="btn btn-outline-warning" [href]="'/personInfo/' + person.id">Info</a>
  </td> 
</div>
<table class="table table-bordered table-striped">

    <thead></thead>
    <tbody>
        <tr *ngFor="let person of persons" >
            <td>{{person.firstName}}</td>
            <td >
              <div *ngIf="person.maidenName !== undefined && person.maidenName !== '' && person.maidenName !== null">{{ person.lastName}}({{person.maidenName}})</div>
              <div *ngIf="person.maidenName === undefined || person.maidenName === '' || person.maidenName === null">{{ person.lastName }}</div>
            </td> 
            <td>{{person.dateOfBirth | date:'dd-MM-YYYY'}}</td>
            <td>{{person.age}}</td>
          <!-- <div class="zippy">
            
              <h2>{{ person.firstName }} {{ person.lastName }}</h2>
              <p>Date of Birth: {{ person.dateOfBirth | date }}</p>
              <p>Phone: {{ person.phone[0] }}</p>
              <p>Email: {{ person.email }}</p>
              <p>Gender: {{ person.gender }}</p>
              <p>Address:</p>
            
              <ul *ngFor="let address of person.address">
                <li>{{ address.street }}
                {{ person.address[0].postCode }} {{ person.address[0].city }}
                {{ person.address[0].country }}
              </li>
            </ul>
            
              <p>Cars:</p>
              <ul>
                <li *ngFor="let car of person.carsList">{{ car.model }} - {{ car.plateNumber }}</li>
              </ul>
            

           </div>-->
           <!--<td>
               <a  class="btn btn-outline-warning" [routerLink]="['personUpdateForm',person.id]">Update</a>
             </td>--> 
             <!--<td >
               <a  class="btn btn-outline-warning" [href]="'/personUpdateForm/' + person.id">Update</a>
             </td> -->
             <td >
              <a  class="btn btn-outline-warning" [href]="'/personInfo/' + person.id">Info</a>
            </td> 
             
        </tr>
    </tbody>
    <router-outlet></router-outlet>
</table>



<!--<ul>
    <li *ngFor="let person of persons">
      <h2>{{ person.firstName }} {{ person.lastName }}</h2>
      <p>Date of Birth: {{ person.dateOfBirth | date }}</p>
      <p>Phone: {{ person.phone[0] }}</p>
      <p>Email: {{ person.email }}</p>
      <p>Gender: {{ person.gender }}</p>
      <p>Address:</p>
      <ul>
        <li>{{ person.address[0].street }}</li>
        <li>{{ person.address[0].postCode }} </li>
        <li>{{ person.address[0].city }}</li>
        <li>{{ person.address[0].country }}</li>
      </ul>
      <p>Cars:</p>
      <ul *ngFor="let car of person.carsList">
        <li >{{ car.model }} - {{ car.plateNumber }}</li>
      </ul>
    </li>
  </ul> -->