<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
      <div >
          <a class="btn btn-primary" (click)="getPersons()">List All Persons</a>
          <a class="btn btn-warning ms-2" [href]="'/personForm/'" >➕ Add Person</a>
      </div>
      <div class="search-bar my-3">
        <input type="text" [(ngModel)]="searchText" (input)="filterPersons()" placeholder="Search persons" class="form-control shadow-sm p-2"/>
      </div>
      <div class="d-flex align-items-center">
          <label for="sortMonth" class="me-2 mb-0">📅 Select a Month:</label>
          <select id="sortMonth" [(ngModel)]="monthValue" (change)="getPersByMonthOfBirth(monthValue)" class="form-select w-auto">
              <option *ngFor="let month of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="month">{{ month }}</option>
          </select>
      </div>
      


  </div>


<!-- <span class="text-muted mb-3 d-block">{{ getUpdatedListTime() }}</span> -->

<div class="table-responsive">
  <table class="table table-hover table-striped shadow-sm">
      <thead class="table-dark">
          <tr>
              <th>First Name</th>
              <th>Last Name (Maiden Name)</th>
              <th>Date of Birth</th>
              <th>Age</th>
              <th>Info</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let person of filtredPersons" [ngClass]="{'table-success': isBirthdayToday(person.dateOfBirth)}">
              <td>{{ person.firstName }}</td>
              <td>
                  <div *ngIf="person.maidenName">{{ person.lastName }} ({{ person.maidenName }})</div>
                  <div *ngIf="!person.maidenName">{{ person.lastName }}</div>
              </td>
              <td>{{ person.dateOfBirth | date:'dd-MM-YYYY' }}</td>
              <td>{{ person.age }}</td>
              <td>
                  <a class="btn btn-info" [href]="'/personInfo/' + person.id">
                      <i class="bi bi-info-circle"></i> Info
                  </a>
              </td>
              <td>
                  <button class="btn btn-danger" (click)="deletePeroson(person.id)">
                      <i class="bi bi-trash"></i> Delete
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<router-outlet></router-outlet>
</div>