<nav class="nav">
<a   [href]="'/persons/'" class="nav-link" aria-current="page" >Persons</a>
<a   routerLink="/docs" class="nav-link" aria-current="page">Docs</a>
<a   [href]="'/companies/'" class="nav-link" aria-current="page" >Companies</a>
<a   [href]="'/eventPage/'" class="nav-link" aria-current="page" >Events</a>
<a   [href]="'/itemPage/'" class="nav-link" aria-current="page" >Home Management</a>
<!-- <a   routerLink="personForm" class="btn btn-primary">Add Person</a> -->
<a   [href]="'/hours/'" class="nav-link">Hours Calculator</a>
<!--<a routerLink="/login">Login</a> -->
</nav>
<router-outlet></router-outlet>