<div class="container">
    <h2>Item List</h2>
    
    <div class="buttons">
        <td >
            <a  class="btn btn-outline-warning" [href]="'/itemForm/'">Add Item</a>
        </td> 
        <td >
          <a  class="btn btn-outline-warning" [href]="'/placeForm/'">Add Place</a>
      </td> 
        <td >
            <a  class="btn btn-outline-warning" [href]="'/locationForm/'">Add Location</a>
        </td> 
      <button (click)="sortByExpireDate()">Sort by Expire Date</button>
      <button (click)="sortByPlace()">Sort by Place</button>
    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Place</th>
          <th>Expire Date</th>
          <th>Barcode</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.itemName }}</td>
          <td>{{ item.place?.placeName }}</td>
          <td>{{ item.expireDate | date:'dd MM yyyy'}}</td>
          <td>{{ item.barcode }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  