<div class="container">
    <h2>Item List</h2>
    <!-- Search input -->
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchText" (input)="filterItems()" placeholder="Search items..." class="form-control"/>
  </div>
    <div class="buttons">
        <td >
            <a  class="btn btn-outline-warning" routerLink="/itemForm">Add Item</a>
        </td> 
        <td >
          <a  class="btn btn-outline-warning" routerLink="/managementTools">Management Tools</a>
      </td> 
      
   
    </div>
  
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Place</th>
          <th>Expire Date</th>
          <th>Days Until Expiry</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredItems">
          <td>{{ item.itemName }}</td>
          <td>{{ item.place?.placeName }}</td>
          <td >{{ item.expireDate | date:'dd-MM-YYYY'}}</td>
          <td [ngStyle]="{'color': item.daysUntilExpire < 30 ? 'red' : 'green'}"
          *ngIf="item.expireDate !== undefined && item.expireDate">{{item.daysUntilExpire}}</td>
          
          <td >
            <a  class="btn btn-outline-warning" [routerLink]="['/itemInfo', item.id]">Info</a>
          </td> 
        
        <td >
          <button  class="btn btn-outline-danger" (click)="deleteItem(item.id)">Delete</button>
        </td> 
        </tr>
      </tbody>
    </table>
  </div>
  