<div [formGroup]="myForm">
  <div>
    <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls">
  </div>
  <div class="col-sm-2">
    <label>Add Pause(minutes):</label>
    <input type="number" [(ngModel)]="pauseValue" [ngModelOptions]="{standalone: true}">
    
    <button class="btn btn-primary" (click)="addAllPauses()">Set all pauses</button>
  </div>
  <div formArrayName="day">
    
                                                                           <!--class="form-group row"-->
    <div *ngFor="let day of dayForm.controls; let i=index" [formGroupName]="i" class="row">
      <div class="col-sm-1">
          <br> 
         <label>{{ i+1 }}</label>
      </div>
      <div class="col-sm-1">
        <label>Start:</label>                            <!--class="form-control"-->
        <input type="number" formControlName="startHour" id="hours"  min="0" max="23">
      </div>
      <div class="col-sm-1">
        <label>Minutes:</label>
        <input type="number" formControlName="startMinutes" id="minutes" min="0" max="59">
      </div>
      <div class="col-sm-2">
        <label>Pause(minutes):</label>
        <input type="number" formControlName="pause" id="pause"  >
      </div>
      <div class="col-sm-1">
        <label>End:</label>
        <input type="number" formControlName="endHour" id="hours" min="0" max="23">

      </div>
      <div class="col-sm-1">
        <label>Minutes:</label>
        <input type="number" formControlName="endMinutes" id="minutes" min="0" max="59">
      </div>
      <div class="col-sm-2">
         <br> 
        <label>Hours: </label>
        <span>{{ calculateDaylyHours(i) }}</span>
      </div>
    </div>
  </div>
  <!--<div class="form-group row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary" (click)="addDay()">Add Day</button>
    </div>
  </div>-->
  <div class="form-group row">
      <div class="col-sm-12">
        <label>Total Hours:</label>
        <span [textContent]="calculateTotalHours()"></span>
      </div>
    </div>
    <button (click)="exportToExcel()">Download Excel</button>
</div>
