<div class="container">
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="row" >
    <div class="col">
     <label for="firstName" >First Name:</label>
     <input type="text" id="firstName" formControlName="firstName" class="form-control">
     <div *ngIf="myForm.get('firstName').invalid" class="text-danger">
      First name is required
    </div>
    </div>
    <div class="col">
     <label for="lastName">Last Name:</label>
     <input type="text" id="lastName" formControlName="lastName" class="form-control">
     <div *ngIf="myForm.get('lastName').invalid" class="text-danger">
      Last name is required
    </div>
    </div>
    <div class="col">
      <label for="maidenName">Maiden Name:</label>
      <input type="text" id="maidenName" formControlName="maidenName" class="form-control">
     </div>
   </div>
  <div class="row" >
   <div class="col">
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="form-control col-4 mb-4" required>
    <div *ngIf="myForm.get('dateOfBirth').invalid" class="text-danger">
      Date of Birth is required
    </div>
   </div>
  <div class="col">
    <label for="dateOfDeath">Date of Death:</label>
    <input type="date" id="dateOfDeath" formControlName="dateOfDeath" class="form-control col-4 mb-4" >
  </div>
  <div class="col">
    <br>
    <label for="isAlive">Is Alive:</label>
    <select id="isAlive" formControlName="isAlive" >
      <option value="YES">Yes</option>
      <option value="NO">No</option>
    </select>
  </div>
</div>
<div>
  <label for="gender">Gender:</label>
  <select id="gender" formControlName="gender" required >
    <option value="MALE">Male</option>
    <option value="FEMALE">Female</option>
  </select>
  <div *ngIf="myForm.get('gender').invalid" class="text-danger">
    Gender is required
  </div>
</div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" class="form-control col-4 mb-4">
  </div>
  
  <div formArrayName="phone">
    <div *ngFor="let phone of phoneForms.controls; let i=index" class="row">
      <div class="col">
        <label>Phone {{i+1}}:</label>
      </div>
      <div class="col">
        <input type="text" [formControlName]="i" class="form-control">
      </div>
      
      <div class="col">
        <button type="button" (click)="deletePhone(i)" class="btn btn-outline-danger">Delete Phone {{i+1}}</button>
      </div> 
     </div>
    
    <button type="button" (click)="addPhone()" class="btn btn-primary">Add another Phone</button>
    </div>
      <div formArrayName="address">
        <div *ngFor="let address of addressForms.controls; let i=index">
          <div [formGroupName]="i" class="row">
            <div class="col">
              <label for="street">Street:</label>
              <input type="text" id="street" formControlName="street" class="form-control">
            </div>
            <div class="col">
              <label for="postCode">Post Code:</label>
              <input type="text" id="postCode" formControlName="postCode" class="form-control">
            </div>
            <div class="col">
              <label for="city">City:</label>
              <input type="text" id="city" formControlName="city" class="form-control">
            </div>
            <div class="col">
              <label for="country">Country:</label>
              <input type="text" id="country" formControlName="country" class="form-control">
            </div>
            <div class="col">
              <br>
              <button type="button" (click)="deleteAddress(i)" class="btn btn-outline-danger">Delete Address {{i+1}}</button>
            </div>
          </div>
          
        </div>
        <button type="button" (click)="addAddress()" class="btn btn-primary">Add another Address</button>
      </div>
      <div formArrayName="carsList">
        <div *ngFor="let car of carsForms.controls; let i=index">
          <div [formGroupName]="i" class="row">
            <div class="col">
              <label for="model">Model:</label>
              <input type="text" id="model" formControlName="model" class="form-control">
            </div>
            <div class="col">
              <label for="plateNumber">Plate Number:</label>
              <input type="text" id="plateNumber" formControlName="plateNumber" class="form-control">
            </div>
            <div class="col">
              <br>
              <button type="button" (click)="deleteCar(i)" class="btn btn-outline-danger">Delete Car {{i+1}}</button>
            </div>
          </div>
          
      </div>
        <button type="button" (click)="addCar()" class="btn btn-primary">Add another Car</button>
      </div>

      <div class="form-group"> <!-- search person and add persons.id with form down -->
        <label>Select Persons</label>
        <input type="text" [formControl]="searchText" placeholder="Search person" class="input mb-2"  />
        <div *ngFor="let person of filtredPersons">
            <!-- Display company details here -->
            <td>{{person.firstName}}</td>
            <td >
              <div *ngIf="person.maidenName !== undefined && person.maidenName !== '' && person.maidenName !== null">{{ person.lastName}}({{person.maidenName}})</div>
              <div *ngIf="person.maidenName === undefined || person.maidenName === '' || person.maidenName === null">{{ person.lastName }}</div>
            </td> 
            <td>{{person.dateOfBirth}}</td>
            
            <td >
              <button  type="button" class="btn btn-outline-warning" (click)="addPerson(person)" >Add</button>
            </td> 
          </div>
    </div>
    

    <div formArrayName="relatives"> <!-- get forms with person.id and you must add relationType -->

        
        <div *ngFor="let relative of relativesForm.controls; let i=index">
          <div [formGroupName]="i" class="row">
            
           <!-- Display company details here -->
            <!--<td>{{person.firstName}}</td>
            <td >
              <div *ngIf="person.maidenName !== undefined && person.maidenName !== '' && person.maidenName !== null">{{ person.lastName}}({{person.maidenName}})</div>
              <div *ngIf="person.maidenName === undefined || person.maidenName === '' || person.maidenName === null">{{ person.lastName }}</div>
            </td> 
            <td >
              <button  type="button" class="btn btn-outline-danger" (click)="removeSelectedPerson(person)" >Remove</button>
            </td> 
            <td>{{person.dateOfBirth}}</td>-->
            
            <div class="col">
              <div>{{getFullNameById(relative.get('relativePersonId').value)}}</div>
              <label for="relativeType">Relative Type:</label>
              <input type="text" id="relativeType" formControlName="relativeType" class="form-control imput mb-4">
              <input type="hidden" id="relativePersonId" formControlName="relativePersonId" value="person.id">
            </div>
            <div class="col">
              <br>
              <br>
              <button type="button" (click)="deleteRelative(i)" class="btn btn-outline-danger">Delete Relative {{i+1}}</button>
            </div>
          </div>
          </div>
      </div>

      <div class="input-group">
        <label for="comments" class="form-label">Comments:</label>
        <textarea type="text" id="comments" formControlName="comments" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-warning" >Submit</button>
    </form>
  </div>
  
    <div>{{myForm.value | json}}</div>